{% extends "base.html" %} 
{%block title %} About {% endblock %}
{% block content %}
<div class="row">
<div name="contactinfo" class="shadow-sm p-3 mb-5 bg-white rounded" >
    <h1>Helia Mozaffari</h1>
</div>
<div class="col">
<div name="summary" class="shadow-sm p-3 mb-5 bg-white rounded" >
    <h1>Summary</h1>
</div>
<div name="experience" class="shadow-sm p-3 mb-5 bg-white rounded" >
    <h1>Experience</h1>
</div>
<div name="education" class="shadow-sm p-3 mb-5 bg-white rounded" >
    <h1>Education</h1>
    <h1>Education</h1>
    <h1>Education</h1>
    <h1>Education</h1>
</div>
</div>
</div>



{% endblock %}

